{% extends "layout.html" %}
{% block content %}
<div class="main-container">
  <h1>Bem-vindo ao Restaurante Delícia!</h1>
  <p>O Restaurante Delícia é o lugar perfeito para você desfrutar de refeições incríveis e momentos especiais.</p>
  <hr>

  <div class="menu-container">
    <h2>Menu do Dia</h2>
    <ul>
      <li>
        <h3>Prato Principal: Frango Grelhado</h3>
        <p>Delicioso frango grelhado com acompanhamentos frescos da estação.</p>
      </li>
      <li>
        <h3>Sobremesa: Torta de Chocolate</h3>
        <p>Uma irresistível torta de chocolate feita com os melhores ingredientes.</p>
      </li>
      <li>
        <h3>Bebida: Suco de Laranja Natural</h3>
        <p>Refrescante suco de laranja feito na hora.</p>
      </li>
    </ul>
  </div>

  <div class="link-container">
    <a href="/login">Faça seu pedido agora!</a>
  </div>
</div>
{% endblock %}
